.uploadImagePage-back {
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.uploadImagePage,
.imageToTextPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-box {
    position: relative;
    border-radius: 12px;
    /* height: 80%; */
    min-height: 500px;
    max-height: 700px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 8px 1px rgb(233, 233, 233);
}

.upload-title {
    text-align: center;
    color: rgba(21, 21, 71, 0.856);
    margin-top: 20px;
    font-size: 28px;
    font-weight: 800;
}

.upload-top {
    text-align: center;
    padding: 20px 0px;
}

#upload-input {
    display: none;
}

.upload-label {
    overflow: hidden;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 1px rgb(235, 235, 235);
}

.icon-plus {
    padding: 40px 60px;
}

.uploadimg-box {
    border-radius: 12px;
    width: 400px;
    height: 300px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.imgToText-box {
    border-radius: 12px;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.upload-clipboard {
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgb(221, 221, 221);
}

.text-list {
    max-height: 370px;
    overflow-y: auto;
}

.srcItem,
.textItem {
    display: flex!important;
    align-items: center;
    justify-content: space-between;
}

.upload-clipboard .row,
.text-list .row {
    margin-left: 0;
}

.img-to-text__left {
    margin-top: 15px;
    min-height: 400px;
    text-align: center;
    border-right: 1px solid #dfdfdf;
}

.img-to-text__right-title {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    color: #45447a;
}

.imgToText__no-result {
    text-align: center;
    padding: 40px 0px;
    color: #999;
}

.copy-all {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

a span:hover,
a:hover {
    text-decoration: none!important;
}

.tools-item {
    text-align: center;
    padding: 10px 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 1px rgb(223, 223, 223);
    margin: 10px;
    transition: all 0.3s;
  }

.tools-item:hover {
    transform: scale(1.1);
}
