.icon-btn {
  background: none;
  border: none;
  color: inherit;
}

.search-title {
  line-height: calc(1.5em + 0.75rem + 2px);
}

.c-link {
  cursor: pointer;
}

.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}

.left-panel {
  min-height: 100vh;
  position: relative;
  padding-bottom: 38px;
}

.button-group {
  position: absolute;
  width: 100%;
  bottom: 0;
}
