.icon-btn {
  background: none;
  border: none;
  color: inherit;
}

.search-title {
  line-height: calc(1.5em + 0.75rem + 2px);
}

.c-link {
  cursor: pointer;
}

.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}

.left-panel {
  min-height: 100vh;
  position: relative;
  padding-bottom: 38px;
}

.button-group {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.CodeMirror-scroll {
  height: 600px !important;
}

.sync-status {
  font-size: 12px;
  color: #959694;
  position: absolute;
  bottom: 12px;
  left: 10px;
}

.user-page {
  margin-top: -100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-warp {
  height: 300px;
  width: 500px;
  border-radius: 8px;
  background: rgba(226, 226, 226, 0.507);
}

.user-warp__header {
  transform: translateY(-50%);
  text-align: center;
}

.avatar {
  border: 1px solid rgba(200, 200, 200, 0.644);
  box-shadow: 0px 4px 8px rgb(168, 168, 168);
  border-radius: 50%;
}

.user-warp__about {
  padding: 0px 40px;
}

.user-quit {
  margin-top: 30px;
}
